
html, body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  background: linear-gradient(to bottom right, #E2D686, #CBD082, #AFC97E);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgba(135, 123, 102, 0.50);
  font-family: 'Playfair Display', serif;
  padding-top: 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-weight: 100;
}

.nav-link {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.9rem;
}

.about-section {
  padding-top: 55px; /* memberi jarak dari navbar */
}

.about-section img {
  max-height: 400px;
  object-fit: cover;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.source-sans {
  font-family: 'Source Sans 3', sans-serif;
}

.custom-quote {
  position: relative;
  font-style: italic;
  font-size: 0.7rem;
  color: #333;
  padding-left: 4rem;
  line-height: 1.4;
}

.custom-quote::before {
  content: "“";
  font-size: 7rem;
  color: #333;
  position: absolute;
  left: 0;
  top: -5px;
  line-height: 1;
}

p {
  font-size: 0.9rem;
}

section {
  margin-bottom: 150px;
}

