.navbar {
    position: fixed;
    background-color: #877B66;
    font-family: 'Playfair Display', serif;
    padding-top: 0.5rem;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 100;
  }
  
  .nav-link {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.9rem;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    padding-top: 70px;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Source Sans 3', sans-serif;
  }
  

.playfair {
    font-family: 'Playfair Display', serif;
  }
  
  .task-section {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text-brown {
    color: #4A4235;
  }

  .quote-box-green {
    background-color: #b7ce85;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 0.375rem;
  }

  .task-box {
    background-color: #7b6b55;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .reminder-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c503f;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }

  .reminder-item label {
    margin: 0;
    flex: 1;
  }

  .reminder-box input[type="text"],
  .happening-input,
  .affirmation-input {
    background: transparent;
    border: none;
    border-bottom: none;
    color: white;
    outline: none;
    padding: 8px 4px;
    width: 100%;
    margin-bottom: 8px;
  }

  .reminder-box input::placeholder,
  .happening-input::placeholder,
  .affirmation-input::placeholder {
    color: #ccc;
  }

  .bg-brown {
    background-color: #4A4235;
  }
  
  .quick-btn {
    transition: 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .quick-btn:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    background-color: #6f5f4a;
  }

  #taskTable td,
  #taskTable th {
    vertical-align: middle;
    text-align: center;
    background-color: black;
  }
  
  #taskTable input,
  #taskTable select {
    background-color: black;
    color: white;
    border: 1px solid #aaa;
  }
  
  #taskTable input::placeholder {
    color: #ccc;
    font-size: 0.85rem;
  }
  
  .pomodoro-increase {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
  }
  